body{
    margin: 0px;
}

.konten-utama{
    width: 70%;
    height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15%;
    margin-right: 15%;
}

/* nav */
nav{
    background-color:	#BC8F8F;
    width: 100%;
    margin: 15px 0px;
    overflow: hidden;
}
nav a{
    float: left;
    padding: 14px 10px 14px 10px;
    display: block;
    font-family: Verdana;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
}
nav a:hover{
    background-color: whitesmoke;
    color: 	#BC8F8F;
}

/* garis */
hr{
    height: 1px;
    display: block;
    background-color: black;
    overflow: hidden;
}

.judul{
    font-family: 'Segoe UI';
    text-align: right;
    color: dimgrey;
    display: block;
    margin-right: 25px;
    margin-bottom: 30px;
}

/* class potonama */
.potonama {
    text-align: center;
}
.potonama img {
    padding: 30px 0px 5px 0px;
    width: 250px;
}
.potonama h1{
    text-align: center;
    margin: 15px 0px 0px 0px;
    font-family: helvetica;
}
.potonama h2{
    font-family: helvetica;
    margin: 5px 0px 30px 0px;
}

/* class overview */
.overview{
    margin-bottom: 20px;
    text-align: center;
}
.overview h2{
    font-family: Georgia;
    color: whitesmoke;
    display: inline-block;
    width: 80%;
    background-color: #BC8F8F;
    padding: 3px 0px;
}
.overview p{
    margin: 2px;
}

table{
    margin-top: 40px;
    width: 100%;
}

table th{
    width: 50%;
}

/* class foot */
.foot p{
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 10px;
    display: block;
    position: sticky;
    bottom: 0px;
}

.formulir{
    margin: 30px 0px;
    padding: 10px 40px;
    width: 100%;
    background-color: whitesmoke;
}
.formulir p{
    font-family: monospace;
    text-align: left;
    font-size: 18px;
    color: #BC8F8F;
}

.bahan{
    margin: 60px 0px 50px 0px;
    text-align: left;
}
.bahan p{
    margin: 0px;
    font-size: 18;
    font-family: Tahoma;
}
.bahan h2{
    text-align: center;
    color: #BC8F8F;
}