body{
    margin: 0px;
}

.konten-utama {
    background-color: #FFFBF5;
    width: 70%;
    height: 100vh;
    margin: 0px 15%;
    box-shadow:inset 0px 5px 0px 0px #FFA812;
}

.konten-kedua-atas{
    padding: 15px 15% 15px 15%;
}

.konten-kedua-atas h1{
    color: #FFA812;
    font-size: 26px;
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.konten-poto{
    width: 20%;
    float: left;
}

.konten-poto img {
    display: inline-block;
    width: 100%;
}

.konten-bio {
    width: 80%;
    float: right;
    text-align: center;
    display: block;
}

.konten-tabel {
    margin: 0px 5%;
    border-top: 5px solid #0010C2;
}

.konten-tabel table{
    display: inline-block;
    text-align: left;
    font-size: 16px;
    border-collapse: collapse;
}

.konten-tabel tr{
    border-bottom: 1px solid #d1cbcb;
    vertical-align: top;
}

.konten-tabel table tr t:nth-of-type(1) {
    padding: 5px 0px 5px 10px;
}

.konten-tabel table tr t:nth-of-type(2) {
    padding: 5px 5px 5px 40px;
}

.konten-tabel table tr t:nth-of-type(3) {
    padding: 5px 10px 5px 0px;
}

.clear {
    clear: right;
}

.konten-kedua-bawah {
    padding: 15px 15% 15px 15%;
}

.konten-krs{
    width: 100%;
	background-color: white;
	padding: 10px;
}

.konten-krs p {
    margin-top: 0px;
	margin-bottom: 10px;
	color: #0010C2;
	font-weight: bold;
	font-size: 20px;
	font-family: Arial;
}

.konten-krs table{
    width: 100%;
	border-collapse: collapse;
}

.konten-krs table thead{
    border-bottom: 1px solid gray;
}

.konten-krs table tbody{
    padding-left: 10px;
}

.konten-krs table tbody td:nth-of-type(1), td:nth-of-type(5), td:nth-of-type(6) {
    padding: 0px;
    text-align: center;
}